{% extends "default/layout.html" %}

{% block head %}
<meta charset="utf-8"/>
<title>ADMIN</title>

<script src='static/scripts/admin.js'></script>
<!--<link rel="stylesheet" type="text/css" href="../static/styles/admin.css">-->
{% endblock %}


{% block main %}
<!------------------->
<!-- GENERATE USERS-->
<!------------------->
<div id="alert_placeholder"></div>
<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary" style='text-align: justify'>Keygen</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="form_users_number">Users</label>
                    <input type="number" class="form-control" id="form_users_number" placeholder="Amount">
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" data-toggle="collapse" data-target="#custom_key_collapse">
                    <label class="custom-control-label" for="customSwitch1">Custom key</label>
                    <span class="badge badge-pill badge-warning">TO DO</span>
                </div>
                <hr>
                <div class="collapse" id="custom_key_collapse">
                    <div class="form-group">
                        <label for="form_custom_key">Key</label>
                        <input type="text" class="form-control" id="form_custom_key" placeholder="Name">
                    </div>
                </div>
                <button class="btn btn-success" onclick="key.create()">Generate Register Keys</button>
            </div>
        </div>
    </div>


</div> <!--  row -->

{% endblock %}