.navbar-style {
    margin-left: -15px;
    margin-right: -15px;
}

.menu-buttons-style {
    padding: 5px 0px 5px 0px;
}

html,body,.row {
    height:100%;
}

.row > div {
    height:100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.info-container {
    position: fixed;
    visibility: hidden;
    bottom: -20%;
    z-index: 99;
    width: 100%;
}

.info-alert {
    margin: auto;
    min-width: 30%;
    max-width: 40%;
    background-color: #fcf8e3;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    .info-alert {
        max-width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .info-alert {
        max-width: 80%;
    }
}